!.idea

.idea/*

!.idea/http-client
!.idea/runConfigurations
**/target
logs
.DS_Store
.support/scripts/pki
*.iml
creed-report/local-example.md
.support/artifactory/.password.txt
.support/artifactory/settings.xml
